<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/landing.css" />
  </head>
  <body>
    <header>
      <h1></h1>
      <h1></h1>
    </header>
    <main>
      <form action="/" method="GET">
        <button type="submit">Events</button>
      </form>
      <form action="/" method="GET">
        <button type="submit"></button>
      </form>
    </main>
  </body>
</html>
